.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: o;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.7);
    display:none;

}
.modal-header{
    padding: 2px 16px;
    text-align: center;
}
.modal-body{
    padding: 2px 16px;
    text-align: center;
}
.modal-footer{
    padding: 2px 16px;
    text-align: center;
    color: #ffffff; 
}
.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: 10% auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) ,0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
@keyframes amimatetop{
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor:pointer
}
.btn{
    border-radius: 13px;
    padding: 0.3em 1em;
    background-color: #aaa;
}
.btn1{
    background-color: #ffffff;
    text-align: center;
    width: 43%;
    padding: 2em 0;
    margin: 20% 26%;
    border-radius: 5px;
}
body{
    background-image: url('Image/dimitar-donovski-h9Zr7Hq8yaA-unsplash.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}